<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="messageTypeConstants.js"></script>
    <script src="popup.js"></script>
    <style>
      .hidden {
        display: none;
      }
    </style>
  </head>
  <body>
    <h1>is loading</h1>
    <div id="login-screen">
      <h1>login screen</h1>
      <button id="login-btn">login</button>
    </div>
    <div id="issue-screen"><h1>issue screen</h1></div>
  </body>
</html>
